---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script type="importmap">
			{
			  "imports": {
				"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
				"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/"
			  }
			}
		  </script>
	</head>
		<title>{title}</title>
	<body>
		<div class="mx-auto rounded-full p-5 w-1/2 h-20 bg-black text-white flex justify-center items-center">
			<div>
				<a href="">
					Home
				</a>
			</div>
		</div>
		<div class="flex justify-center mt-20">
			<slot />
		</div>
	</body>
</html>
<style is:global>
</style>

<script>
</script>